/* Fonts settings */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/subset-ProximaNova-Bold.eot');
  src: url('../fonts/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-ProximaNova-Bold.woff2') format('woff2'), url('../fonts/subset-ProximaNova-Bold.woff') format('woff'), url('../fonts/subset-ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/subset-ProximaNova-Regular.eot');
  src: url('../fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-ProximaNova-Regular.woff2') format('woff2'), url('../fonts/subset-ProximaNova-Regular.woff') format('woff'), url('../fonts/subset-ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Basic settings */
html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #ffba15;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #fbb100;
  color: #ffffff;
}
/* Typography */
section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.section-header {
  margin: 2rem 0 10rem;
  text-align: center;
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.section-header-light {
  color: #ffffff;
}
.section-header h2 {
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.section-header p {
  margin-top: 4rem;
  font-size: 1.8rem;
  font-weight: normal;
}
.form {
  padding: 4.5rem 5rem;
  text-align: center;
  background-color: #ffffff;
  color: #565656;
}
.form h2 {
  margin-top: 0rem;
  margin-bottom: 2em;
  font-size: 1.8rem;
}
.form h2 strong {
  font-size: 1.9rem;
}
.form-input {
  display: block;
  width: 100%;
  margin: 2.5rem 0;
  padding: 1.5rem;
  border: solid 1px #dddddd;
  font-size: 1.6rem;
  border-radius: 5px;
}
.form label {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: 200;
  background-color: #ffffff;
}
.form button {
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
.form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
/* main */
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/bg-main.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 4rem;
  line-height: 1.45;
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  color: #292929;
}
.main-content p {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main-content span {
  display: inline-block;
  padding: 3rem 4rem;
  font-size: 1.8rem;
  text-align: center;
  background-color: #70c849;
  color: #fff;
}
.main-content span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-content .trigger {
  display: block;
  margin-top: 3rem;
  padding: 0;
  font-size: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  text-align: justify;
  text-transform: uppercase;
  background-color: inherit;
  color: #292929;
}
.header {
  height: 100%;
}
.wrap {
  display: table;
  height: 7rem;
  width: 100%;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  height: 7rem;
  line-height: 7rem;
  font-size: 2rem;
  color: #292929;
  font-family: 'ProximaNova_bold', sans-serif;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active,
.slick-click,
.slick-slide,
.slick-current {
  outline: none;
}
.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  border: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
.prev {
  left: 0;
  background: url(../img/arrow-left.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/arrow-right.svg) center no-repeat;
  background-size: 70%;
}
/* Блок с ценами */
.prices {
  background: url(../img/prices/prices-bg.jpg) center no-repeat;
  background-size: cover;
}
.prices .prices-btn {
  height: 5.5rem;
  margin-top: 2.2rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
}
.prices .prices-btn-block {
  text-align: right;
}
.prices-block {
  min-height: 60rem;
  margin-top: 2rem;
  padding: 1rem 3rem 4rem;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
}
.prices-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.prices-block img {
  display: inline-block;
  width: 100%;
  max-width: 30rem;
  margin-bottom: 2rem;
}
.prices-block button {
  bottom: ;
  width: 18rem;
  height: 5rem;
  font-size: 1.7rem;
}
.prices-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.prices-list {
  min-height: 12rem;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  list-style: none;
}
.prices-list li::before {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 1rem;
  vertical-align: middle;
  background: url(../img/prices/check.svg) no-repeat center;
  background-size: 100%;
}
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #70c849;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  width: 2rem;
  height: 2rem;
  left: 4rem;
  border: 2px solid #70c849;
  background-color: #ffffff;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  padding: 5rem 6rem;
  -webkit-box-shadow: 0 12px 18px rgba(0, 0, 0, 0.11);
          box-shadow: 0 12px 18px rgba(0, 0, 0, 0.11);
  font-size: 1.6rem;
  background-color: #ffffff;
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #70c849;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  margin-top: 6rem;
  padding: 4rem 10rem;
}
.feedback-form h2 {
  font-size: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-form label {
  -webkit-transform: translateX(-50%) translateY(35%);
          transform: translateX(-50%) translateY(35%);
}
.feedback .hand {
  position: absolute;
  left: 6vw;
  bottom: 0;
  max-width: 25%;
}
.scheme {
  background: url(../img/scheme/scheme-bg.png) bottom 0 right no-repeat;
  background-size: 65rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block img {
  margin-bottom: 2.5rem;
}
.scheme-block h3 {
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.scheme-block p {
  font-size: 1.6rem;
}
.all_inclusive {
  background-color: #f5f5f5;
}
.all_inclusive .media {
  min-height: 9rem;
  font-size: 1.2rem;
}
.all_inclusive .media h4 {
  font-size: 1.5rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.all_inclusive .media-body {
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  padding: 1rem;
}
.all_inclusive .circle {
  display: inline-block;
  background-color: #70c849;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  border-radius: 50%;
}
.all_inclusive .circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #70c849;
  border-radius: 50%;
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  color: #ffffff;
}
/* Модальные окна */
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7;
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
  text-align: center;
  background-color: #ffffff;
  z-index: 5;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  border: none;
  font-size: 4rem;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
}
.popup-form {
  margin-top: 0;
  padding: 0;
  color: #292929;
}
.popup-header {
  width: 24.5rem;
  font-size: 1.8rem;
}
.popup-header span {
  display: block;
  font-family: 'ProximaNova_bold', sans-serif;
}
@media (max-width: 1199px) {
  section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .feedback-form {
    padding: 2rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .feedback .hand {
    display: none;
  }
  .scheme {
    background-size: 50rem;
  }
}
@media (max-width: 991px) {
  section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .phone-block {
    text-align: center;
  }
  .main {
    background-position: top right;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .main-title .trigger {
    text-align: center;
  }
  .prices .section-header-light {
    margin-bottom: 0;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, 40%);
            transform: translate(-50%, 40%);
  }
  .scheme {
    background-size: 50rem;
  }
}
@media (max-width: 768px) {
  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .main {
    background-position: top left;
  }
  .main-content h1 {
    font-size: 2.4rem;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .prices-list {
    min-height: 100%;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    background-size: 40rem;
  }
}
@media (max-width: 576px) {
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
}
